body{
    margin: 0 auto;
    width: 1920px;
    height: 1080px;
    background: #000 url(../img/bg.jpg) no-repeat;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  a {
    text-decoration: none;
  }

.header{
    margin-bottom: 240px;
    padding: 32px 48px 10px 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo a{
    transition: opacity 0.5s ease;
}

.header-logo a:hover{
    opacity: 0.8;
}

.nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 45px;
}

.nav__item{
    position: relative;
    padding-bottom: 15px;
}

.nav__item--active::after{
    content: " ";
    position: absolute;
    height: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #406343;
    border-radius: 2px;
}

.nav__link{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    transition: color 0.5s ease-out;
}

.nav__link:hover,
.nav__link:focus{
    color: #406343;
}

.user-nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: end;
    column-gap: 30px;
}

.header__button{
    outline: none;
    border: none;
    width: 35px;
    height: 35px;
    background: none;
    cursor: pointer;
}

.header__button svg{
    transition: fill 0.5s ease-out;
}

.header__button:hover svg,
.header__button:focus svg{
    fill:  #406343;
}

.main{
    margin: 0 auto;
    position: relative;
}

.main-section__image{
    position: absolute;
    top: 0;
    left: 312px;
}

.main-section__video{
    position: relative;
    padding-top: 375px;
}

.video-button:before{
    content: " ";
    position: absolute;
    width: 69px;
    height: 69px;
    top: -80px;
    left: 155px;
    background: url("../img/bx_mouse.svg") center center no-repeat;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.50));
    cursor: default;
}

.video-button{
    outline: none;
    border: none;
    position: relative;
    border-radius: 20px;
    background: #406343;
    box-shadow: 0 33px 35px -15px black, 25px -25px 50px 0px rgba(0, 0, 0, 0.10), -25px 0px 50px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    margin-left: 735px;
    margin-top: 83px;
    padding: 22px 47px 20px;
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    transition: opacity 0.5s ease;
}

.video-button:hover,
.video-button:focus{
    opacity: 0.9;
}

.video-button span{
    position: relative;
    padding-left: 65px;
}

.video-button span:before{
    content: " ";
    position: absolute;
    width: 45px;
    height: 45px;
    top: -5px;
    left: 0;
    background: url("../img/regular_circle-play.svg") center center no-repeat;
}

.article{
    position: absolute;
    top: 340px;
    right: 147px;
    width: 430px;
}

.article__title{
    margin: 0;
    margin-bottom: 17px;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
}

.article__text{
    margin: 0;
    padding: 0;
    color: rgba(179, 179, 179, 0.80);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}
